<!DOCTYPE html>
<html ng-app='evergreen'>
<head>
  <title>Evergreen</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= bootstrap_flash %>

<%= yield %>

</body>
</html>
