<!DOCTYPE html>
<html ng-app='evergreen'>
<head>
  <title>Evergreen</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= nav_bar :fixed => :top, :responsive => :true, :brand => "Evergreen", brand_link: root_url do %>

  <%= menu_group do %>
    <li ui-sref-active='active'>
      <a ui-sref="home">Home</a>
    </li>
    <li ui-sref-active='active'>
      <a ui-sref="about">About</a>
    </li>
    <li ui-sref-active='active'>
      <a ui-sref="contact">Contact Us</a>
    </li>
    <li ui-sref-active='active'>
      <a ui-sref="mission">Mission</a>
    </li>
    <li class='custom-flash alert-{{ $root.flash[0] }} custom-fade in' ng-if='!!$root.flash.length'>
      {{ $root.flash[1] }}
    </li>
  <% end %>

  <nav-login></nav-login>

  <%= menu_group :pull => :right do %>
    <search-form></search-form>
  <% end %>

<% end %>

<div class="navbar-spacer"></div>


<%= yield %>

</body>
</html>
